{% extends "index.html" %}
{% block title %}Page not found - {{ config.title }}{% endblock title %}
{% block ogtitle %}Page not found - {{ config.title }}{% endblock ogtitle %}

{% block content %}

<section class="max-screen-w-xl p-6 py-16 bg-stone-100">
    <article class="mx-auto prose prose-stone">
      <h1 class="font-serif tracking-tight">Page not found</h1>

      <p class="text-sm">The page you're looking for doesn't exist. Try <a href="{{ config.base_url | safe }}/">going home</a> to find it again.</p>
    </article>
</section>

{% endblock content %}
