<!doctype html>
<html class="overflow-auto scroll-pt-20">
{% block head %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ config.title }} - Where Developers Vent{% endblock title %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/site.webmanifest">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#f97316">
    <link rel="shortcut icon" href="/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ get_url(path='tailwind.css') | safe }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <meta property="og:title"
        content="{% block ogtitle %}{{ config.title }} - Where Developers Vent{% endblock ogtitle %}">
    <meta property="og:description" content="{% block ogdesc %}{{config.description}}{% endblock ogdesc %}">
    <meta property="og:url" content="{% block ogurl %}{{config.base_url | safe }}{% endblock ogurl %}">
    <meta property="og:image"
        content="{% block ogimage %}{% if config.extra.ogimage %}{{ get_url(path=config.extra.ogimage) | safe }}{% endif %}{% endblock ogimage %}">
</head>
{% endblock head %}

<body class="antialiased scroll-smooth overflow-clip">
    {% block nav %}
    <nav class="bg-white border-t-4 border-orange-500 border-b border-b-stone-200 sticky top-0 z-30 shadow-sm">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-3 p-6">
            <a href="/" class="">
                <span class="sr-only">Stack Overflowed</span>
                <img class="h-5 w-auto" src="/logos/stackoverflowed.svg" alt="">
            </a>
            <button type="button" id="menu-toggle" class="inline-flex items-center justify-center sm:hidden py-1"
                aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <i class="iconoir-menu text-2xl text-stone-500" id="menu-icon" aria-hidden="true"></i>
            </button>
            <div class="hidden w-full sm:block sm:w-auto" id="navbar-default">
                <ul class="md:text-sm flex flex-col mt-4 sm:flex-row sm:space-x-1 sm:mt-0">
                    <li>
                        <a href="/#features"
                            class="block py-3 border-b border-b-stone-200 px-0 sm:px-3 sm:py-2 text-stone-800 sm:hover:bg-stone-200 rounded sm:rounded-full sm:border-0">Features</a>
                    </li>
                    <li>
                        <a href="/#usecases"
                            class="block py-3 border-b border-b-stone-200 px-0 sm:px-3 sm:py-2 text-stone-800 sm:hover:bg-stone-200 rounded sm:rounded-full sm:border-0">Usecases</a>
                    </li>
                    <li>
                        <a href="/#pricing"
                            class="block py-3 border-b border-b-stone-200 px-0 sm:px-3 sm:py-2 text-stone-800 sm:hover:bg-stone-200 rounded sm:rounded-full sm:border-0">Pricing</a>
                    </li>
                    <li>
                        <a href="/#faqs"
                            class="block py-3 px-0 sm:px-3 sm:py-2 text-stone-800 sm:hover:bg-stone-200 rounded sm:rounded-full sm:border-0">FAQs</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </header>
    {% endblock nav %} {% block content %}
    <section class="bg-cover bg-center bg-[url('/pattern.png')] border-b border-stone-200 relative overflow-hidden">
        <img src="/hero-gradient.png"
            class="absolute hidden md:block top-0 right-1/2 overflow-hidden select-none opacity-50 md:opacity-75"
            alt="">
        <img src="/hero-gradient.png"
            class="absolute hidden md:block top-0 left-1/2 overflow-hidden select-none opacity-50 md:opacity-75 transform -scale-100"
            alt="">
        <div class="max-w-9xl mx-auto py-16 p-6 flex flex-nowrap items-center justify-center md:gap-16">
            <div class="-rotate-6 hover:-rotate-12 transition z-0 hidden md:block">
                <div
                    class="p-3 ring-1 ring-stone-300/50 rounded-3xl shadow-xl bg-gradient-to-t from-stone-300/30 via-stone-400/20 to-stone-100/30 backdrop-blur">
                    <div class="relative lg:static w-[450px]">
                        <div class="relative rounded-2xl bg-stone-100/60 ring-1 ring-stone-300 backdrop-blur shadow-lg">
                            <div class="pl-4 pt-4"><svg aria-hidden="true" viewBox="0 0 42 10" fill="none"
                                    class="h-3 w-auto stroke-stone-500/30">
                                    <circle cx="5" cy="5" r="4.5"></circle>
                                    <circle cx="21" cy="5" r="4.5"></circle>
                                    <circle cx="37" cy="5" r="4.5"></circle>
                                </svg>
                                <div class="p-4 pl-0 text-sm font-mono text-stone-600 tracking-tight leading-relaxed">
                                    <p>Dear candidate,</p>
                                    <br>
                                    <p>Thanks for your application to $_COMPANY. Unfortunately, we won't proceed
                                        with it.
                                    </p>
                                    <br>
                                    <p>Your application revealed a stark lack of basic software development knowledge.
                                        The subpar quality of your skills and audacity to apply at $_COMPANY are
                                        shocking.
                                        Furthermore, you are not just unattractive, but downright ugly.
                                    </p>
                                    <br>
                                    <p>We suggest you consider a different career path
                                        better suited to your lack of skills.</p>
                                    <br>
                                    <p>Regards,<br>
                                        $_COMPANY HR team</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="basis-84 text-center relative z-20 md:shrink-0">
                <h1 class="font-bold tracking-tight text-stone-700 font-serif text-5xl lg:text-6xl">
                    Therapy for <br>
                    <span
                        class="text-transparent text-5xl md:text-6xl lg:text-7xl bg-clip-text bg-gradient-to-t from-orange-400 via-orange-600 to-orange-300">
                        tech people
                    </span>
                </h1>
                <p class="mt-6 max-w-fit mx-auto p-2 text-lg text-stone-600">
                    Free and private. Yes, this is real.</p>
                {# Production form #}
                <form class="gform space-y-4 mt-6 max-w-sm mx-auto"
                    action="https://sendfly.io/v1/8350c785-162d-4a6b-8cd2-659db7fdbe6d" method="post"
                    autocomplete="off">

                    {# Testing form is https://sendfly.io/v1/435e0671-b527-4738-93eb-64a6ce79e6f5#}
                    <select id="country" name="Country"
                        class="py-3 px-4 pr-9 w-full text-base text-stone-700 rounded-xl border border-stone-300 hover:bg-gray-100 bg-white transition-all appearance-none">
                        <option value="USA">United States</option>
                        <option value="DEU">Germany</option>
                    </select>
                    <div class="inline-flex w-full" role="group">
                        <div
                            class="py-3 px-4 text-base text-gray-500 bg-gray-100 border border-gray-300 border-r-0 rounded-l-xl font-mono">
                            <span id="country_code">+1</span>
                        </div>
                        <input type="tel" id="phone" name="Phone"
                            class="py-3 px-4 border border-gray-300 text-gray-900 text-base rounded-r-xl block w-full hover:bg-gray-100 bg-white transition-all"
                            placeholder="Phone number" required>
                    </div>
                    <input type="text" id="message" name="Message"
                        class="py-3 px-4 w-full text-base text-stone-900 rounded-xl border border-stone-300 hover:bg-gray-100 bg-white transition-all"
                        placeholder="What's up?" required>
                    <button type="submit"
                        class="submit-handler block shadow-lg ease-in duration-100 shadow-orange-500/30 hover:shadow-orange-500/60 mx-auto w-full rounded-xl bg-orange-500 px-4 py-1.5 text-base leading-7 text-white hover:bg-orange-600 focus:ring-4 focus:ring-orange-200">
                        Call me now
                        <i class="pl-1 iconoir-phone-add text-lg align-[-3px]" aria-hidden="true"></i>
                    </button>
                    <div
                        class="max-w-fit mx-auto relative rounded-full px-3 py-1 text-sm text-stone-600 ring-1 ring-stone-300 bg-white">
                        <div class="flex justify-center items-center">
                            <span class="relative flex h-3 w-3">
                                <span
                                    class="animate-ping absolute inline-flex h-full w-full rounded-xl bg-emerald-400 opacity-50"></span>
                                <span class="relative inline-flex rounded-xl h-3 w-3 bg-emerald-500"></span>
                            </span>
                            <div class="pl-2 text-sm text-stone-500">
                                Estimated wait time is <span class="text-emerald-600 font-semibold"><span id="backlog"
                                        class="transition-opacity"></span>
                                    minutes</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="rotate-6 hover:rotate-12 transition z-0 hidden md:block">
                <div
                    class="p-3 ring-1 ring-stone-300/50 rounded-3xl shadow-xl bg-gradient-to-t from-stone-300/30 via-stone-400/20 to-stone-100/30 backdrop-blur">
                    <div class="relative lg:static w-[450px]">
                        <div class="relative rounded-2xl bg-stone-100/60 ring-1 ring-stone-300 backdrop-blur shadow-lg">
                            <div class="pl-4 pt-4"><svg aria-hidden="true" viewBox="0 0 42 10" fill="none"
                                    class="h-3 w-auto stroke-stone-500/30">
                                    <circle cx="5" cy="5" r="4.5"></circle>
                                    <circle cx="21" cy="5" r="4.5"></circle>
                                    <circle cx="37" cy="5" r="4.5"></circle>
                                </svg>
                                <div class="mt-4 flex space-x-2 text-xs overflow-hidden whitespace-nowrap">
                                    <div
                                        class="flex h-6 rounded-full p-px font-medium text-stone-600 border border-stone-400">
                                        <div class="flex items-center rounded-full px-2.5 bg-stone-300/50">
                                            package.json</div>
                                    </div>
                                    <div class="flex h-6 rounded-full text-stone-500">
                                        <div class="flex items-center rounded-full px-2.5">package-lock.json</div>
                                    </div>
                                    <div class="flex h-6 rounded-full text-stone-500">
                                        <div class="flex items-center rounded-full px-2.5">company_logo_v3.svg
                                        </div>
                                    </div>
                                    <div class="flex h-6 rounded-full text-stone-500">
                                        <div class="flex items-center rounded-full px-2.5">
                                            leaked_user_passwords_hehehe.csv
                                        </div>
                                    </div>
                                </div>
                                <div class="flex items-start px-1 text-sm pb-4">
                                    <div aria-hidden="true"
                                        class="border-r border-stone-300/5 pt-[14px] pr-2 font-mono text-stone-400">
                                        01<br>02<br>03<br>04<br>05<br>06<br>07<br>08<br>09<br>10<br>11<br>12<br>13
                                    </div>
                                    <pre class="flex">
<code class="language-json" style="background: transparent !important; overflow: hidden;">{
  "name": "stackoverflowed",
  "description": "Where developers vent",
  "version": "1.0.0",
  "dependencies": {
    "endless-meeting-generator": "^5.88.2",
    "context-switcher": "^6.26.3",
    "scope-creeper": "^5.1.6",
    "git-conflicts": "^9.29.9",
    "return-to-office": "^2.0.2.3",
    "spaghetti-code": "^1.1.1",
    "on-call": "^2.46.0",
    "left-pad": "^1.3.0",
</code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-stone-100">
        <div class="mx-auto max-w-7xl py-16 px-6 lg:px-8 text-center">
            <h3 class="font-semibold text-stone-500 mb-2">Our users may or may not work here</h3>
            <div
                class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <img class="mx-auto col-span-2 max-h-12 w-24 lg:w-28 object-contain lg:col-span-1"
                    src="/logos/amazon.png" alt="Amazon">
                <img class="mx-auto col-span-2 max-h-12 w-28 lg:w-36 object-contain lg:col-span-1"
                    src="/logos/microsoft.png" alt="Microsoft">
                <img class="mx-auto col-span-2 max-h-12 w-24 lg:w-28 object-contain lg:col-span-1"
                    src="/logos/google.png" alt="Google">
                <img class="mx-auto col-span-2 max-h-12 w-28 lg:w-36 object-contain sm:col-start-2 lg:col-span-1"
                    src="/logos/janestreet.png" alt="PF Changs">
                <img class="mx-auto col-span-2 col-start-2 max-h-12 w-24 lg:w-32 object-contain sm:col-start-auto lg:col-span-1"
                    src="/logos/meta.png" alt="Meta">
            </div>
        </div>
    </section>
    <section class="bg-stone-100" id="features">
        <div class="py-16 p-6 mx-auto max-w-screen-xl lg:py-24 lg:px-6">
            <h3 class="font-semibold text-stone-500 mb-2 text-center">Features</h3>
            <h2
                class="mb-8 lg:mb-16 font-serif text-center text-3xl text-stone-700 md:text-4xl tracking-tight font-bold">
                No more existential crises before stand-up</h2>
            <div class="space-y-4 sm:grid sm:grid-cols-3 sm:gap-4 md:gap-4 sm:space-y-0">
                <div class="bg-stone-200 rounded-2xl p-6">
                    <div class="flex justify-center items-center h-12 w-12 bg-stone-700 rounded-xl mb-4">
                        <i class="iconoir-cash text-3xl text-stone-100" aria-hidden="true"></i>
                    </div>
                    <h3 class="mb-2 font-semibold">Free</h3>
                    <p class="text-stone-600">We are volunteers working in tech who want to help our fellow
                        demoralized techies. No strings attached.</p>
                </div>
                <div class="bg-stone-200 rounded-2xl p-6">
                    <div class="flex justify-center items-center h-12 w-12 bg-stone-700 rounded-xl mb-4">
                        <i class="iconoir-voice-lock-circle text-3xl text-stone-100" aria-hidden="true"></i>
                    </div>
                    <h3 class="mb-2 font-semibold">Anonymous</h3>
                    <p class="text-stone-600">We never ask for your identity or employer, so only discuss as much as you
                        want—we only ask that you respect your NDA.</p>
                </div>
                <div class="bg-stone-200 rounded-2xl p-6">
                    <div class="flex justify-center items-center h-12 w-12 bg-stone-700 rounded-xl mb-4">
                        <i class="iconoir-yoga text-3xl text-stone-100" aria-hidden="true"></i>
                    </div>
                    <h3 class="mb-2 font-semibold">Effective</h3>
                    <p class="text-stone-600">Speaking to someone who understands your work problems, both technically
                        and spiritually, is rarely free <i>and</i> anonymous.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-stone-900">
        <div class="max-w-screen-xl px-4 py-16 mx-auto text-center lg:py-24 lg:px-6">
            <figure class="max-w-screen-md mx-auto">
                <svg class="h-10 md:h-12 mx-auto mb-3 text-orange-500" viewBox="0 0 24 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                        fill="currentColor" />
                </svg>
                <blockquote>
                    <p class="text-xl md:text-4xl tracking-tight font-serif text-stone-100">Stack Overflowed enables me
                        to freely vent about my team's outages, unlike the guy who flaked on my 45-minute meeting last
                        Friday.</p>
                </blockquote>
                <figcaption class="flex flex-col md:flex-row items-center justify-center mt-6 space-x-3">
                    <div class="flex flex-col md:flex-row mt-1 md:mt-0 items-center md:divide-x-2 md:divide-stone-500">
                        <div class="md:pr-3 font-semibold text-stone-100">Anonymous manager</div>
                        <div class="md:pl-3 text-sm mt-0.5 text-stone-200">10+ years of experience</div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>
    <section class="bg-stone-100" id="usecases">
        <div class="py-16 lg:py-24 px-6 max-w-7xl mx-auto">
            <div class="text-center">
                <h3 class="font-semibold text-stone-500 mb-2">Usecases</h3>
                <h2 class="text-3xl font-bold font-serif tracking-tight text-stone-700 md:text-4xl">Sanity as a service
                    with &lt;99.999% uptime
                </h2>
                <p class="mt-4 text-stone-600 text-lg">We listen to all your personal problems, no matter how small or
                    enterprise grade
                </p>
            </div>
            <div class="pt-16">
                <div class="grid grid-cols-1 gap-4 lg:gap-8">
                    <div
                        class="flex flex-col-reverse lg:flex-row lg:items-center rounded-2xl bg-[#1f1f1f] shadow-xl shadow-stone-400/50">
                        <div class="lg:w-1/3 p-6">
                            <h2 class="font-bold text-stone-100 mb-1">Stakeholder management</h2>
                            <p class="text-stone-100">Take things offline and spare your intrusive thoughts</p>
                        </div>
                        <div class="lg:w-2/3">
                            <img src="coworker.png" alt="stakeholder management"
                                class="sm:h-full sm:w-full rounded-t-2xl lg:rounded-l-none lg:rounded-r-2xl object-cover h-56">
                        </div>
                    </div>
                    <div
                        class="flex flex-col-reverse lg:flex-row lg:items-center rounded-2xl bg-[#1f1f1f] shadow-xl shadow-stone-400/50">
                        <div class="lg:w-1/3 p-6">
                            <h2 class="font-bold text-stone-100 mb-1">System design</h2>
                            <p class="text-stone-100">When documentation makes you question if you can actually read</p>
                        </div>
                        <div class="lg:w-2/3">
                            <img src="complex.png" alt="system design"
                                class="sm:h-full sm:w-full rounded-t-2xl lg:rounded-l-none lg:rounded-r-2xl object-cover h-56">
                        </div>
                    </div>
                    <div
                        class="flex flex-col-reverse lg:flex-row lg:items-center rounded-2xl bg-[#1f1f1f] shadow-xl shadow-stone-400/50">
                        <div class="lg:w-1/3 p-6">
                            <h2 class="font-bold text-stone-100 mb-1">Corporate strategy</h2>
                            <p class="text-stone-100">Every bad business decision seemed like a good idea at the time
                            </p>
                        </div>
                        <div class="lg:w-2/3">
                            <img src="features.png" alt="corporate strategy"
                                class="sm:h-full sm:w-full rounded-t-2xl lg:rounded-l-none lg:rounded-r-2xl object-cover h-56">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-stone-900">
        <div class="max-w-screen-xl px-4 py-16 mx-auto text-center lg:py-24 lg:px-6">
            <figure class="max-w-screen-md mx-auto">
                <svg class="h-10 md:h-12 mx-auto mb-3 text-orange-500" viewBox="0 0 24 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                        fill="currentColor" />
                </svg>
                <blockquote>
                    <p class="text-xl md:text-4xl tracking-tight font-serif text-stone-100">My girlfriend doesn't
                        understand why I vent about my coworker so often. Who schedules 45 minute SLA reviews on Friday
                        evening?!</p>
                </blockquote>
                <figcaption class="flex flex-col md:flex-row items-center justify-center mt-6 space-x-3">
                    <div class="flex flex-col md:flex-row mt-1 md:mt-0 items-center md:divide-x-2 md:divide-stone-500">
                        <div class="md:pr-3 font-semibold text-stone-100">Anonymous engineer</div>
                        <div class="md:pl-3 text-sm mt-0.5 text-stone-200">Doesn't actually have a girlfriend</div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>
    <section class="bg-contain bg-center bg-[url('/pattern.png')] md:border-b md:border-stone-200 relative"
        id="pricing">
        <img src="/hero-gradient.png"
            class="absolute hidden md:block top-0 right-1/2 overflow-hidden select-none opacity-30 transform -scale-y-100 z-0"
            alt="">
        <img src="/hero-gradient.png"
            class="absolute hidden md:block top-0 left-1/2 overflow-hidden select-none opacity-30 transform -scale-x-100 z-0"
            alt="">
        <div class="py-16 px-6 mx-auto max-w-screen-xl lg:py-24 relative z-10">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h3 class="font-semibold text-stone-500 mb-2">Pricing</h3>
                <h2 class="mb-4 text-3xl text-stone-700 md:text-4xl tracking-tight font-bold font-serif">
                    Find the plan that suits you</h2>
                <p class="mb-5 mt-6 max-w-fit sm:mx-auto text-xl text-stone-500">We're free
                    because you've already paid with your soul</p>
            </div>
            <div class="space-y-6 lg:grid lg:grid-cols-3 gap-4 lg:space-y-0">
                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-stone-900 bg-white rounded-3xl ease-in duration-100 border border-stone-200 xl:p-8">
                    <div class="mb-4 sm:mb-8">
                        <div class="max-w-fit relative rounded-full px-3 py-1 text-xs text-gray-600 bg-gray-200">
                            New
                        </div>
                    </div>
                    <h3 class="mb-4 text-2xl font-semibold font-serif">Designer</h3>
                    <div class="flex items-baseline">
                        <span class="mr-1 text-3xl md:text-5xl text-stone-700 tracking-tight font-bold">$0</span>
                        <span class="text-stone-500">/month</span>
                    </div>
                    <p class="text-stone-600 py-6">For the artist helplessly watching their work being butchered
                    </p>
                    <ul role="list" class="mb-8 space-y-4 text-left text-stone-600">
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Not being taken seriously</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Only person in office that showers</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Nobody else cares about fonts</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Need to touch Adobe software</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Getting pestered by PMs</span></span>
                        </li>
                    </ul>
                    <a href="/"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg px-5 py-2.5 text-center transition-all">Get
                        started</a>
                </div>
                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-stone-900 bg-white rounded-3xl ease-in duration-100 border border-stone-200 xl:p-8">
                    <div class="mb-4 sm:mb-8">
                        <div class="max-w-fit relative rounded-full px-3 py-1 text-xs text-orange-600 bg-orange-100">
                            Most popular
                        </div>
                    </div>
                    <h3 class="mb-4 text-xl md:text-2xl font-semibold font-serif">Software engineer</h3>
                    <div class="flex items-baseline">
                        <span class="mr-1 text-3xl md:text-5xl text-stone-700 tracking-tight font-bold">$0</span>
                        <span class="text-stone-500">/month</span>
                    </div>
                    <p class="text-stone-600 py-6">For the developer desperately wrestling a segfault for three hours
                    </p>
                    <ul role="list" class="mb-8 space-y-4 text-left text-stone-600">
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Slow compilation times</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Unorganized documentation</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Unresponsive teammates</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Single</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Getting pestered by PMs</span>
                        </li>
                    </ul>
                    <a href="/"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg px-5 py-2.5 text-center transition-all">Get
                        started</a>
                </div>
                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-stone-900 bg-white rounded-3xl ease-in duration-100 border border-stone-200 xl:p-8">
                    <div class="mb-4 sm:mb-8">
                        <div class="max-w-fit relative rounded-full px-3 py-1 text-xs text-gray-600 bg-gray-200">
                            Unpopular
                        </div>
                    </div>
                    <h3 class="mb-4 text-xl md:text-2xl font-semibold font-serif">Product manager</h3>
                    <div class="flex items-baseline">
                        <span class="mr-1 text-3xl md:text-5xl text-stone-700 tracking-tight font-bold">$0</span>
                        <span class="text-stone-500">/month</span>
                    </div>
                    <p class="text-stone-600 py-6">For the product manager attending six back-to-back Monday meetings
                    </p>
                    <ul role="list" class="mb-8 space-y-4 text-left text-stone-600">
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Blamed for all product failures</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Mundane busywork</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Weak stakeholder influence</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Being seen as the enemy</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <i class="flex-shrink-0 w-5 h-5 text-emerald-500 iconoir-check text-2xl"
                                aria-hidden="true"></i>
                            <span>Getting pestered by customers</span></span>
                        </li>
                    </ul>
                    <a href="/"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg px-5 py-2.5 text-center transition-all">Get
                        started</a>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-stone-100" id="faqs">
        <div class="py-16 lg:pt-24 px-6 mx-auto max-w-7xl">
            <div class="mx-auto items-center text-center pb-16">
                <h2 class="text-3xl font-bold font-serif tracking-tight text-stone-700 md:text-4xl">
                    Frequently asked questions
                </h2>
            </div>
            <div class="pb-10">
                <div class="grid grid-cols-1 gap-8">
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Is this real?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">The
                                hotline is real and staffed by a volunteer network.</p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Is this affilated with Stack Overflow?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">No.</p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Are you even allowed to call this Stack Overflowed?
                            </h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">We hope so.</p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">What's the catch here?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">There isn't! We don't record, store, or sell any
                                personally identifable information about you or what you say.</p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Why do you need my phone number?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">This is the easiest way for us to coordinate which one
                                of us should respond.</p>
                        </div>
                    </div>
                    <div
                        class="flex flex-col md:flex-row md:gap-x-10 md:item-center border-b border-stone-300/80 md:pb-8">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Who are you?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">We're a volunteer network of people working throughout
                                the tech industry.</p>
                            <br>
                            <p class="text-base text-stone-600">Originally, we were a small group of friends who often
                                ranted
                                to each other about work. We believe that humor and candor can help us address (or
                                simply cope) with the unique problems and lifestyle of our industry.</p>
                        </div>
                    </div>
                    <div class="flex flex-col md:flex-row md:gap-x-10 md:item-center">
                        <div class="md:w-2/5">
                            <h2 class="font-semibold mb-2">Can I volunteer for the hotline?</h2>
                        </div>
                        <div class="md:w-3/5 mb-6 md:mb-0">
                            <p class="text-base text-stone-600">Give us a call and mention that you are interested in
                                being a volunteer, at which point we will immediately convert the therapy call into a
                                four-stage technical interview.</p>
                            <br>
                            <p class="text-base text-stone-600">Or you can just email us.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %} {% block footer %}
    <footer class="bg-white">
        <div class="py-16 p-6 mx-auto max-w-screen-xl text-center">
            <a href="#" class="flex justify-center items-center text-2xl font-semibold text-stone-900">
                <img class="mr-2 h-6" src="/logos/stackoverflowed.svg" />
            </a>
            <p class="my-6 text-stone-500 text-sm">Saving you from an existential crisis just in time for standup</p>
            <ul
                class="flex flex-wrap justify-center items-center mb-6 text-stone-600 text-sm divide-x-2 divide-stone-200">
                <li>
                    <a href="mailto:{{ config.extra.email_address }}" class="px-4 hover:underline md:px-6">Contact us
                        via email</a>
                </li>
                <li>
                    <a href="/privacy" class="px-4 hover:underline md:px-6">Privacy policy</a>
                </li>
            </ul>
            <span class="text-sm text-stone-500 sm:text-center"><span style="font-family: math;"
                    class="text-xl -mr-0.5">☺</span>
                2023 <a href="/" class="hover:underline">Stack Overflowed</a></span>
            <span class="opacity-0 hidden">No rights reserved.</span>
        </div>
    </footer>
    {% endblock footer %}
</body>

{% if current_path and current_path == "/" %}
<script src="{{ get_url(path='/js/backlog.js') }}" integrity="sha384-{{ get_hash(path='/js/backlog.js', sha_type=384,
    base64=true) | safe }}" async defer></script>
<script src="{{ get_url(path='/js/phone.js') }}" integrity="sha384-{{ get_hash(path='/js/phone.js', sha_type=384,
    base64=true) | safe }}" async defer></script>
{% endif %}
<script src="{{ get_url(path='/js/navbar.js') }}" integrity="sha384-{{ get_hash(path='/js/navbar.js', sha_type=384,
    base64=true) | safe }}"></script>
<script data-goatcounter="https://tassel3090.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

</html>