<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path="tailwind.css") | safe }}">
</head>

<body class="antialiased">
    <header class="bg-white border-t-4 border-orange-500 border-b border-b-gray-200 sticky top-0 z-10">
        <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
            <div class="flex lg:flex-1">
                <a href="#" class="">
                    <span class="sr-only">Stack Overflowed</span>
                    <img class="h-5 w-auto" src="logo.svg" alt="">
                </a>
            </div>

            <div class="hidden lg:flex lg:gap-x-8">
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Testimonials</a>
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Pricing</a>
            </div>
        </nav>
    </header>

    <section class="bg-stone-100">
        <div class="mx-auto max-w-7xl py-16 sm:py-16 px-6">
                <h1 class="text-4xl text-center font-bold tracking-tight text-gray-900 font-serif sm:text-6xl">A hotline for <span
                        class="text-orange-500">tech employees</span></h1>
                <p class="mt-6 text-center text-lg leading-8 text-gray-600">Saving you from an existential crisis in time for
                    morning standup</p>

                    {# <form class="gform space-y-6" method="POST" data-email={{ config.extra.email_address }} action={{
                        config.extra.form_script }}> #}
                        <form class="gform mx-auto space-y-4 mt-10 max-w-sm">
                            <div class="inline-flex w-full" role="group">
                                <button
                                    class="p-4 text-sm font-medium text-gray-600 bg-gray-100 border border-gray-300 rounded-l-xl">
                                    +1
                                </button>
                                <input type="tel" id="phone_number" name="phone_number"
                                    class="p-4 border-l-0 border border-gray-300 text-gray-900 text-md rounded-r-xl focus:ring-orange-500 focus:border-orange-500 block w-full"
                                    placeholder="Your phone number" required>
                            </div>
                            <textarea type="message" id="message" name="message" rows="1"
                                class="p-4 w-full text-md text-gray-900 rounded-xl border border-gray-300 focus:ring-orange-500 focus:border-orange-500"
                                placeholder="What's up?" required></textarea>
                            <input type="text" id="movie" name="movie" placeholder="Gotcha!"
                                class="hidden p-2.5 w-full text-md text-gray-900 rounded-lg border border-gray-300 focus:ring-orange-500 focus:border-orange-500">
                            <button type="submit"
                                class="block mx-auto w-full rounded-lg bg-orange-500 px-4 py-1.5 text-base leading-7 text-white hover:bg-orange-600">
                                Call me now
                                <i class="pl-1 iconoir-phone-income text-lg align-[-3px]" aria-hidden="true"></i>
                            </button>
                            <a
                                class="block mx-auto w-full rounded-lg px-4 py-1.5 text-base leading-7 hover:text-gray-500 text-center">
                                Book later
                                <i class="pl-1 iconoir-calendar-plus text-lg align-[-3px]" aria-hidden="true"></i>
                            </a>

                            <div class="flex items-center justify-center">
                                <span class="relative flex h-3 w-3">
                                    <span
                                        class="animate-ping absolute inline-flex h-full w-full rounded-full bg-emerald-400 opacity-75"></span>
                                    <span class="relative inline-flex rounded-full h-3 w-3 bg-emerald-500"></span>
                                </span>
                                <div class="pl-3 text-sm font-light text-gray-500">
                                    Current wait time is <span class="text-emerald-500">&lt;5 minutes</span>
                                </div>
                            </div>

                            <div class="hidden thankyou_message">
                                <p class="text-orange-600 font-semibold text-base">
                                    Message sent successfully!
                                </p>
                            </div>
                        </form>
        </div>
    </section>

    <section class="bg-stone-100">
        <div class="mx-auto max-w-7xl py-16 px-6 lg:px-8 text-center">
            <div class="mb-4 text-sm font-semibold uppercase tracking-wider text-stone-500">Our users may or may not work here</div>

            <div
                class="mx-auto mt-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl sm:grid-cols-6 sm:gap-x-10 lg:mx-0 lg:max-w-none lg:grid-cols-5">
                <img class="mx-auto col-span-2 grayscale contrast-200 brightness-0 max-h-12 w-24 lg:w-28 object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/2880px-Amazon_logo.svg.png"
                    alt="Amazon">
                <img class="mx-auto col-span-2 grayscale contrast-200 brightness-0 max-h-12 w-24 lg:w-32 object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Microsoft_logo_%282012%29.svg/2880px-Microsoft_logo_%282012%29.svg.png"
                    alt="Microsoft">
                <img class="mx-auto col-span-2 grayscale contrast-200 brightness-0 max-h-12 w-24 lg:w-28 object-contain lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2880px-Google_2015_logo.svg.png"
                    alt="Google">
                <img class="mx-auto col-span-2 grayscale contrast-200 brightness-0 max-h-12 w-24 lg:w-32 object-contain sm:col-start-2 lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/P.F._Chang%27s_logo.svg/2880px-P.F._Chang%27s_logo.svg.png"
                    alt="PF Changs">
                <img class="mx-auto col-span-2 grayscale contrast-200 brightness-0 col-start-2 max-h-12 w-24 lg:w-32 object-contain sm:col-start-auto lg:col-span-1"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Meta_Platforms_Inc._logo.svg/2880px-Meta_Platforms_Inc._logo.svg.png"
                    alt="Meta">
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="py-16 px-4 mx-auto max-w-screen-xl lg:py-32 lg:px-6 text-center">
            <h2 class="mb-8 lg:mb-16 font-serif text-2xl lg:text-4xl tracking-tight font-extrabold text-gray-900">
                Yes, this is real</h2>
            <div class="space-y-8 md:grid md:grid-cols-3 md:gap-12 md:space-y-0">
                <div>
                    <div class="flex mx-auto justify-center items-center mb-4 w-6 h-6 rounded-full bg-emerald-500">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-4 h-4 text-white" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h3 class="mb-2 font-semibold">Free</h3>
                    <p class="text-gray-500">All of us are volunteers working in tech who want to help our fellow
                        demoralized techies. No strings attached here.</p>
                </div>
                <div>
                    <div class="flex mx-auto justify-center items-center mb-4 w-6 h-6 rounded-full bg-emerald-500">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-4 h-4 text-white" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h3 class="mb-2 font-semibold">Anonymous</h3>
                    <p class="text-gray-500">We never ask for your identity or employer, so only discuss as much as you
                        want—we only ask that you respect your NDA.</p>
                </div>
                <div>
                    <div class="flex mx-auto justify-center items-center mb-4 w-6 h-6 rounded-full bg-emerald-500">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-4 h-4 text-white" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </div>
                    <h3 class="mb-2 font-semibold">Effective</h3>
                    <p class="text-gray-500">Complaining to somebody who understands your frustrations on both a
                        technical and spirtual level is quite the experience.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="py-16 lg:py-32 px-6">
            <div class="mx-auto items-center text-center pb-16">
                <h2 class="text-2xl font-bold font-serif tracking-tight text-gray-900 lg:text-4xl">Streamline your
                    mental health
                </h2>
                <p class="mt-4 text-gray-500 text-lg">Our stunningly basic service is unlike anything you've seen
                </p>
            </div>
    
            <div class="max-w-screen-xl mx-auto pb-10">
                <div class="grid grid-cols-1 gap-8">
              
                  <!-- Feature 1 -->
                  <div class="flex flex-col-reverse md:flex-row md:gap-x-10">
                    <div class="md:w-1/3">
                      <h2 class="font-semibold mb-2">Poor communication</h2>
                      <p class="text-md text-gray-500">The Drawstring Canister is water and tear resistant with durable canvas construction. This bag holds up to the demands of daily use while keeping your snacks secure.</p>
                    </div>
                    <div class="md:w-2/3 mb-6 md:mb-0">
                      <img src="prod.jpg" alt="Feature 1 Image" class="w-full rounded-xl">
                    </div>
                  </div>
              
                  <!-- Feature 2 -->
                  <div class="flex flex-col-reverse md:flex-row md:gap-x-10">
                    <div class="md:w-1/3">
                      <h2 class="font-semibold mb-2">Gross incompetence</h2>
                      <p class="text-md text-gray-500">Everything you need, nothing you don't. This bag has the simple, contemporary design that enables you to tell everyone you know about how essentialism is the only rational way to live life.</p>
                    </div>
                    <div class="md:w-2/3 mb-6 md:mb-0">
                      <img src="prod.jpg" alt="Feature 2 Image" class="w-full rounded-xl">
                    </div>
                  </div>
              
                  <!-- Feature 3 -->
                  <div class="flex flex-col-reverse md:flex-row md:gap-x-10">
                    <div class="md:w-1/3">
                      <h2 class="font-semibold mb-2">Business ambiguity</h2>
                      <p class="text-md text-gray-500">Never lose your snacks again with our patent-pending snack stash pocket system. With dedicated pouches for each of your snacking needs, the Drawstring Canister unlocks new levels of efficiency and convenience.</p>
                    </div>
                    <div class="md:w-2/3 mb-6 md:mb-0">
                      <img src="prod.jpg" alt="Feature 3 Image" class="w-full rounded-xl">
                    </div>
                  </div>
              
                </div>
              </div>
        </div>
    </section>

    <section class="bg-white">
        <div class="max-w-screen-xl px-4 py-8 mx-auto text-center lg:py-16 lg:px-6">
            <figure class="max-w-screen-md mx-auto">
                <svg class="h-12 mx-auto mb-3 text-gray-400" viewBox="0 0 24 27" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M14.017 18L14.017 10.609C14.017 4.905 17.748 1.039 23 0L23.995 2.151C21.563 3.068 20 5.789 20 8H24V18H14.017ZM0 18V10.609C0 4.905 3.748 1.038 9 0L9.996 2.151C7.563 3.068 6 5.789 6 8H9.983L9.983 18L0 18Z"
                        fill="currentColor" />
                </svg>
                <blockquote>
                    <p class="text-lg lg:text-2xl font-serif text-gray-900">My girlfriend doesn't understand
                        why I rant about my team's awful documentation so often. Sucks that my team doesn't
                        even have any documentation, and I don't actually have a girlfriend.</p>
                </blockquote>
                <figcaption class="flex items-center justify-center mt-6 space-x-3">
                    <img class="w-10 h-10 rounded-full" src="dude.jpg" alt="profile picture">
                    <div class="flex items-center divide-x-2 divide-gray-500">
                        <div class="pr-3 font-semibold font-serif text-gray-900">Anonymous engineer
                        </div>
                        <div class="pl-3 text-sm font-light text-gray-500">Amazon</div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>

    <section class="bg-white">
        <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
            <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
                <h2 class="mb-4 text-2xl lg:text-4xl tracking-tight font-extrabold text-gray-900 font-serif">
                    Plans and pricing</h2>
                <p class="mb-5 font-light text-gray-500 sm:text-xl">Here's just a sample of who we
                    help</p>
            </div>

            <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">

                <!-- Pricing Card -->
                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-stone-200 xl:p-8">

                    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                        <div
                            class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                            Newly added
                        </div>
                    </div>

                    <h3 class="mb-4 text-2xl font-semibold font-serif">Designer</h3>
                    <p class="font-light text-gray-500 sm:text-lg">For the designer helplessly
                        watching their artistry being butchered</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$0</span>
                        <span class="text-gray-500">/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Team size: <span class="font-semibold">100+ developers</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Premium support: <span class="font-semibold">36 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Free updates: <span class="font-semibold">36 months</span></span>
                        </li>
                    </ul>
                    <a href="#"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center :ring-orange-900">Get
                        started</a>
                </div>
                <!-- Pricing Card -->
                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-stone-200 xl:p-8">

                    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                        <div
                            class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                            Popular
                        </div>
                    </div>

                    <h3 class="mb-4 text-2xl font-semibold font-serif">Software engineer</h3>
                    <p class="font-light text-gray-500 sm:text-lg">For the engineer hopelessly
                        wrestling a 400-line <span class="font-mono">package.json</span></p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$0</span>
                        <span class="text-gray-500">/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Team size: <span class="font-semibold">1 developer</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Premium support: <span class="font-semibold">6 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Free updates: <span class="font-semibold">6 months</span></span>
                        </li>
                    </ul>
                    <a href="#"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center :ring-orange-900">Get
                        started</a>
                </div>
                <!-- Pricing Card -->

                <div
                    class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-stone-200 xl:p-8">

                    <div class="hidden sm:mb-8 sm:flex sm:justify-center">
                        <div
                            class="relative rounded-full px-3 py-1 text-sm leading-6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                            We needed a third category
                        </div>
                    </div>

                    <h3 class="mb-4 text-2xl font-semibold font-serif">Product manager</h3>

                    <p class="font-light text-gray-500 sm:text-lg">For the product manager attending
                        six back-to-back meetings</p>
                    <div class="flex justify-center items-baseline my-8">
                        <span class="mr-2 text-5xl font-extrabold">$0</span>
                        <span class="text-gray-500">/month</span>
                    </div>
                    <!-- List -->
                    <ul role="list" class="mb-8 space-y-4 text-left">
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Individual configuration</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>No setup, or hidden fees</span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Team size: <span class="font-semibold">10 developers</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Premium support: <span class="font-semibold">24 months</span></span>
                        </li>
                        <li class="flex items-center space-x-3">
                            <!-- Icon -->
                            <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            <span>Free updates: <span class="font-semibold">24 months</span></span>
                        </li>
                    </ul>
                    <a href="#"
                        class="text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center :ring-orange-900">Get
                        started</a>
                </div>

            </div>
        </div>
    </section>

    <footer class="bg-white">
        <div class="mx-auto max-w-screen-xl">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="https://flowbite.com" class="flex items-center">
                        <img src="logo.svg" class="mr-2 h-5" />
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Resources</h2>
                        <ul class="text-gray-600">
                            <li class="mb-4">
                                <a href="https://flowbite.com" class="hover:underline">Flowbite</a>
                            </li>
                            <li>
                                <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Follow us</h2>
                        <ul class="text-gray-600">
                            <li class="mb-4">
                                <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                            </li>
                            <li>
                                <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase">Legal</h2>
                        <ul class="text-gray-600">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto lg:my-8" />
            <div class="text-sm text-gray-500">
                We are not affilated with Stack Overflow. Please do not sue us.
            </div>
            <div class="sm:flex mt-4 sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center">© 2023 <a href="https://flowbite.com"
                        class="hover:underline">Stack Overflowed</a>.
                </span>
            </div>
        </div>
    </footer>
</body>

</html>