{% extends "index.html" %} 
{% block title %}Thanks - {{ config.title }}{% endblock title %} 
{% block ogtitle %}Thanks - {{ config.title }}{% endblock ogtitle %}

{% block content %}
<section class="hidden sm:flex bg-blue-500 h-screen py-16">
    <article class="max-w-screen-xl mx-auto prose prose-stone p-4">
        <div class="md:w-2/3 text-white">
            <h1 class="text-9xl mb-8 font-light text-white -ml-2">:)</h1>
            <p class="text-2xl font-light leading-relaxed">Your request needs to be assigned. We're now finding you an
                available volunteer, who will contact you as soon as possible.</p>
            <p class="text-2xl font-light leading-relaxed"><span id="magic">0</span>% complete</p>
            <div class="flex flex-row space-x-4">
                <div class="w-1/6">
                    <img src="/qr.svg" class="mt-1" />
                </div>
                <div class="w-5/6">
                    <p class="text-sm font-light mt-0">Take some deep breaths; everything is going to be okay.</p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="sm:hidden bg-stone-100 py-16">
    <article class="max-w-screen-xl mx-auto prose prose-stone p-4">
        <div class="flex items-center justify-center mb-4 w-12 h-12 rounded-xl bg-stone-700">
            <i class="iconoir-bell-notification flex-shrink-0 text-3xl text-stone-100" aria-hidden="true"></i>
        </div>
        <h3 class="text-stone-800 font-semibold mt-0">SEV 2 alert has been triggered</h3>
        <p class="text-stone-600">We are now scrambling an on-call engineer to contact you as soon as possible.</p>
        <p class="text-stone-600">Take some deep breaths; everything is going to be okay.</p>
    </article>
</section>

<script>
    let num = 0;
    function updateNumber() {
        const delta = Math.random() > 0.50 ? 10 : -10;
        num += delta;
        if (num >= 100) {
            num -= 20;
        }
        document.getElementById('magic').innerText = num;
    }
    setInterval(updateNumber, 3000);
</script>

{% endblock content %}
